@model Identity.Models.ProductOwner
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Product Owner</h4>
    <hr />
    <dl class="dl-horizontal">
       <dt>@Html.DisplayNameFor(model => model.Email) </dt>
        <dd>@Html.DisplayFor(model => model.Email) </dd>

        <dt>@Html.DisplayNameFor(model => model.DateOfJoining)</dt>
        <dd>@Html.DisplayFor(model => model.DateOfJoining) </dd>

        <dt>@Html.DisplayNameFor(model => model.ContactNo)</dt>
        <dd>@Html.DisplayFor(model => model.ContactNo) </dd>

        <dt>@Html.DisplayNameFor(model => model.CompanyName)</dt>
        <dd>@Html.DisplayFor(model => model.CompanyName) </dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description) </dd>

        <dt>@Html.DisplayNameFor(model => model.FoundedIn)</dt>
        <dd>@Html.DisplayFor(model => model.FoundedIn) </dd>

        <dt>@Html.DisplayNameFor(model => model.WebsiteUrl)</dt>
        <dd>@Html.DisplayFor(model => model.WebsiteUrl) </dd>

        <dt>@Html.DisplayNameFor(model => model.TwitterUrl)</dt>
        <dd>@Html.DisplayFor(model => model.TwitterUrl) </dd>

        <dt>@Html.DisplayNameFor(model => model.FbUrl)</dt>
        <dd>@Html.DisplayFor(model => model.FbUrl) </dd>

        <dt>@Html.DisplayNameFor(model => model.AddressObject.Street1)</dt>
        <dd>@Html.DisplayFor(model => model.AddressObject.Street1) </dd>

        <dt>@Html.DisplayNameFor(model => model.AddressObject.Street2)</dt>
        <dd>@Html.DisplayFor(model => model.AddressObject.Street2) </dd>

        <dt>@Html.DisplayNameFor(model => model.AddressObject.City)</dt>
        <dd>@Html.DisplayFor(model => model.AddressObject.City) </dd>

        <dt>@Html.DisplayNameFor(model => model.AddressObject.State)</dt>
        <dd>@Html.DisplayFor(model => model.AddressObject.State) </dd>

        <dt>@Html.DisplayNameFor(model => model.AddressObject.Pin)</dt>    
        <dd>@Html.DisplayFor(model => model.AddressObject.Pin) </dd>    
    </dl>

    </div>
<p>@Html.ActionLink("Edit","Edit",new{id=Model.Id})</p>
<p>@Html.ActionLink("Back To List", "Index")</p>